.divPrincipal {
    display: flex;
    background-color: #FFF;
    margin: auto;
    margin-top: 20px;
    width: 60%;
    box-shadow: 5px 5px 15px #cbcbcb;
    height: 500px;
}

body {
    background-color: #fcfcfc;
}

#secPrincipal {
    height: 600px;
}

#divImg {
    width: 50%;
    background-color: #ababab;
}

#imgPred {
    width: 100%;
    height: 100%;
}

#divForm {
    margin: auto;
    width: 50%;
}

.page {
    padding: 10%;
}

.groupButton {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5%;
}

.btnSubmit {
    line-height: 1.25;
    border: none;
    background: #432678;
    box-shadow: 5px 5px 15px #dfdfdf;
    text-decoration: none;
    height: 3em;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.divTitle {
    text-align: center;
}

.divTitle p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
}


/*----------------------------------------------------------*/

.field__input {
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
    background-color: transparent;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
    color: var(--uiFieldPlaceholderColor);
}


/*
  =====
  CORE STYLES
  =====
  */

.field {
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));
    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);
}

.field__input {
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));
}

.field__input:focus {
    outline: none;
}

.field__input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.field__input:focus::-moz-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.field__label-wrap {
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.field__label-wrap::after {
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.field__input:focus~.field__label-wrap::after {
    opacity: 1;
}

.field__label {
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    top: calc(50% - .5em);
    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);
    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
    will-change: bottom, opacity, font-size;
}

.field__input:focus~.field__label-wrap .field__label,
.field__input:not(:placeholder-shown)~.field__label-wrap .field__label {
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
    top: var(--fieldHintTopHover, .25rem);
}


/* 
  effect 1
  */

.field_v1 .field__label-wrap::after {
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transition: opacity .2s ease-out;
    will-change: opacity;
}


/*
=====
LEVEL 4. SETTINGS
=====
*/

.field {
    --fieldBorderColor: #D1C4E9;
    --fieldBorderColorActive: #673AB7;
    width: 100%;
}


/*-------------------------------------------------------*/

#secAbout {
    background-color: #432678;
}

#secAbout p {
    color: rgb(235, 235, 235);
}

.divTitleAbout {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
}

.divBodyAbout {
    text-align: justify;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(235, 235, 235);
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}