<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/script/jquery-3.6.0.min.js"></script>
    <script src="/static/script/bootstrap.min.js"></script>
    <script src="/static/script/main.js"></script>
    <link href="/static/style/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet">
    <title>Title</title>
</head>

<body>
    <section id="secPrincipal">
        <div class="divPrincipal">
            <div id="divImg">
                <img src="/static/assets/null.png" id="imgPred">
            </div>

            <div id="divForm">
                <div class="divTitle">
                    <p>
                        Preditor de desligamento do colaborador
                    </p>
                </div>
                <div class="page">

                    <div class="field field_v1">
                        <input type="number" id="nivel_satisfacao" class="field__input" placeholder="Digite valores entre 0 e 1">
                        <span class="field__label-wrap" aria-hidden="true">
                                <span class="field__label">Nível de Satisfação</span>
                        </span>
                    </div>

                    <div class="field field_v1">
                        <input type="number" id="ultima_avaliacao" class="field__input" placeholder="Digite valores entre 0 e 1">
                        <span class="field__label-wrap" aria-hidden="true">
                          <span class="field__label">Última avaliação</span>
                        </span>
                    </div>

                    <div class="field field_v1">
                        <input type="number" id="tempo_empresa" class="field__input" placeholder="Em anos">
                        <span class="field__label-wrap" aria-hidden="true">
                          <span class="field__label">Tempo de Empresa</span>
                        </span>
                    </div>

                    <div class="field field_v1">
                        <input type="number" id="numero_projetos" class="field__input" placeholder="Quantidade">
                        <span class="field__label-wrap" aria-hidden="true">
                          <span class="field__label">Número de projetos</span>
                        </span>
                    </div>

                    <div class="field field_v1">
                        <input type="number" id="horas_medias_por_mes" class="field__input" placeholder="Quantidade">
                        <span class="field__label-wrap" aria-hidden="true">
                          <span class="field__label">Média de Horas trabalhadas no mês</span>
                        </span>
                    </div>

                    <div class="groupButton">
                        <button class="btnSubmit" id="buttonSubmit">Realizar Previsão</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="secAbout">
        <div class="divTitleAbout">
            <p>Sobre o projeto</p>
        </div>



        <div class="divBodyAbout container">
            <div class="separator">Introdução</div><br/>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>

            <div class="separator">Dumb text2</div><br/>
        </div>
    </section>

</body>

</html>